{% extends 'base.html' %} {% load bootstrap4 %} {% block search %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form method="post" enctype="multipart/form-data">
                        {# {% csrf_token %} {% bootstrap_form form %} #}
                    </form>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                Вылет из:
                                {{ form.departureStation }}
                            </div>
                            <div class="col">
                                Прилет в:
                                {{ form.arrivalStation }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Дата вылета:
                                {{ form.date_from }}
                            </div>
                            <div class="col">
                                Дата прилета:
                                {{ form.date_to }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        WizzAir Discont Club:
                                        {{ form.priceType }}
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-info float-right">Искать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if request_res.outboundFlights %}
            <div class="row">
                <table class="table table-striped">
                    <h3>Туда:</h3>
                    <thead>
                    <tr>
                        <th>А/П Вылета</th>
                        <th>А/П Прилета</th>
                        <th>Дата вылета</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    {% for obj in request_res.outboundFlights %}
                    <tr>
                        <td>
                            {{obj.departureStation}}
                        </td>
                        <td>
                            {{obj.arrivalStation}}
                        </td>
                        <td>
                            {{ obj.departureDate }}
                        </td>
                        <td>
                            {{ obj.price.amount }}
                        </td>
                        </td>
                    </tr>
                    {% endfor%}
                </table>
                <table class="table table-striped">
                    <thead>
                    <h3>Обратно:</h3>
                    <tr>
                        <th>А/П Вылета</th>
                        <th>А/П Прилета</th>
                        <th>Дата вылета</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    {% for obj in request_res.returnFlights %}
                    <tr>
                        <td>
                            {{obj.departureStation}}
                        </td>
                        <td>
                            {{obj.arrivalStation}}
                        </td>
                        <td>
                            {{ obj.departureDate }}
                        </td>
                        <td>
                            {{ obj.price.amount }}
                        </td>
                        </td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
        {% elif request_res.validationCodes %}
        <div class="row">
            {{ request_res.validationCodes }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
